
<%= render 'form' %>


<div class="myIcons">
  <%= link_to  new_game_path, :class => 'player-starts' do %> 
      <i class="fa fa-laptop fa-5x"></i> 
      <p>Computer starts</p>
  <% end %>
</div>

